<%- include('includes/header.ejs') %>
<%- include('includes/alerts.ejs') %> 
<%- include('includes/navbar.ejs') %>

<div class="container-fluid" style="padding: 1cm;">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-8">
            <div class="container-fluid">
                <form action="/profile-editInfo/<%=profile._id%>?_method=PUT" method="post">
                <div class="row">                    
                    <div class="col-6">
                        <label class="form-control border border-0"><strong> Nombre: </strong> </label>
                        <input class="form-control editInfo" name="name" value="<%=profile.name%>" placeholder="No especificado..." disabled required/>
                        <label class="form-control border border-0"><strong> Teléfono: </strong> </label>
                        <input class="form-control editInfo" name="phone" type="number" value="<%=profile.phone%>" placeholder="No especificado..." disabled required/>
                        <label class="form-control border border-0"><strong> Usuario: </strong> </label>
                        <input class="form-control editInfo" name="username" value="<%=profile.username%>" placeholder="No especificado..." disabled required/>
                        <label class="form-control border border-0"><strong> Area: </strong> </label>
                        <input class="form-control mb-3" value="<%=profile.area%>" placeholder="No especificado..." disabled/>
                        <select name="area" class="form-control combo-login" id="selectInfo" style="width: 100%;" disabled required>
                            <option value="" selected="true" disabled>Área de trabajo</option>
                              <% jobs.forEach(job => { %>
                                <option value="<%=job.name%>"><%=job.name%></option>                  
                              <% }) %>
                        </select>
                        <a class="btn btn-primary mt-3" id="btnEditInfo" style="color: white;" onclick="editInform()"> <ion-icon name="create-outline"></ion-icon> Editar</a>
                        <button class="btn btn-success mt-3" id="btnSaveInfo" style="color: white;" hidden> <ion-icon name="save-outline"></ion-icon> Guardar</button>
                        <a class="btn btn-danger mt-3" id="btnCancelInfo" style="color: white;" onclick="cancelInform()" hidden> <ion-icon name="close-outline"></ion-icon> Cancelar</a>
                    </div>
                    <div class="col-6">
                        <label class="form-control border border-0"><strong> Apellidos: </strong> </label>
                        <input class="form-control editInfo" name="lastname" value="<%=profile.lastname%>" placeholder="No especificado..." disabled required/>
                        <label class="form-control border border-0"><strong> Fecha de nacimiento: </strong> </label>
                        <input class="form-control" id="inputBirth" <% if(profile.birth != null){ %>  value="<%=moment(profile.birth).format('L')%>" <% } %> placeholder="No especificado..." disabled/>        
                        <input class="form-control" type="date" name="birth" id="birthInfo" hidden required>
                        <label class="form-control border border-0"><strong> Correo electrónico: </strong> </label>
                        <input class="form-control editInfo" name="email" value="<%=profile.email%>" placeholder="No especificado..." disabled required/>                       
                        <label class="form-control border border-0"><strong> Contraseña: </strong> </label>
                        <input class="form-control editInfo" autocomplete="off" name="password" type="password" disabled required/>

                    </div>                    
                </div>
                </form>
            </div>            
        </div>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-6">
                    <form action="/profile-presentation/<%=user._id%>?_method=PUT" method="post">
                        <label for="userResume" class="form-control border border-0"><strong> Presentación: </strong></label>
                        <textarea name="presentation" class="form-control mb-3" id="userResume" cols="30" rows="10" placeholder="<% if(!profile.presentation || profile.presentation == '') {%> Añade una presentación a tu perfil <% } %>" disabled><%=profile.presentation%> </textarea>
                        <a class="btn btn-primary" id="btnEditPre" style="color: white;" onclick="editPresen()"> <ion-icon name="create-outline"></ion-icon> Editar</a>
                        <button class="btn btn-success" id="btnSavePre" style="color: white;" hidden> <ion-icon name="save-outline"></ion-icon> Guardar</button>
                        <a class="btn btn-danger" id="btnCancelPre" style="color: white;" onclick="cancelPresen()" hidden> <ion-icon name="close-outline"></ion-icon> Cancelar</a>
                    </form>
                </div>
                <div class="col-6">
                    <label class="form-control border border-0"><strong> Idiomas: </strong></label>
                    <form action="/profile-lang/<%=user._id%>" method="post">
                        <% if(!profile.languages || profile.languages == ''){ %>
                            <p>No se han agregado idiomas</p> 
                        <% } else { %>
                            <label class="form-control border border-0" id="lblRemoveLang" hidden><strong> Seleccione el idioma que desea elminar: </strong></label>
                            <% for(let j = 0; j<profile.languages.length; j++){ %>
                                <label class="form-control border border-0">
                                    <input type="radio" name="langDelete" class="radioLang" value="<%=profile.languages[j]%>" disabled hidden> <strong><%=profile.languages[j]%></strong>
                                </label>
                            <% } %> 
                        <% } %> 
                            <label class="form-control border border-0" id="lblLang" hidden><strong> Seleccione su idioma:</strong></label>
                            <select name="language" class="form-control combo-login" id="seleLang" disabled>
                                <option value="" selected="true" disabled>Idioma</option>
                                    <% langs.forEach(lang => { %>
                                        <option value="<%=lang.name%>"><%=lang.name%></option>                  
                                    <% }) %>
                            </select>
                            <label class="form-control border border-0" id="lblLevel" hidden><strong> Nivel: </strong></label>
                            <select name="level" class="form-control" id="seleLevel" hidden>
                                <option value="Lengua madre">Lengua madre</option>
                                <option value="Básico">Básico</option>
                                <option value="Intermedio">Intermedio</option>
                                <option value="Avanzado">Avanzado</option>
                            </select>
                        <a class="btn btn-primary mt-3" id="btnAddLang" style="color: white;" onclick="languages()"> <ion-icon name="add-circle-outline"></ion-icon> Agregar</a>
                        <% if(!profile.languages || profile.languages != ''){ %>
                            <a class="btn btn-warning mt-3" id="btnRemoveLang" style="color: white;" onclick="removeLanguages()"> <ion-icon name="remove-circle-outline"></ion-icon> Eliminar</a>
                        <% } %> 
                        <button class="btn btn-success mt-3" id="btnSaveLang" style="color: white;" hidden> <ion-icon name="save-outline"></ion-icon> Guardar</button>
                        <a class="btn btn-danger mt-3" id="btnCancelLang" style="color: white;" onclick="cancelLanguages()" hidden> <ion-icon name="close-outline"></ion-icon> Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-6">
                    <label class="form-control border border-0"><strong> Experiencias profesionales: </strong></label>
                    <% if(!exp || exp == ''){ %>
                        <p>Aun no ha registrado ninguna experiencia</p>
                    <% } else {%>
                        <% exp.forEach((exps, i) => { %>
                            <details open>
                            <summary><b> <%=exps.positionExp%> </b></summary>
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="mt-2 text-muted"><ion-icon name="business-outline"></ion-icon> <%=exps.enterprise%> </h6>
                                </div>
                                <div class="col-6 text-right">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn border" data-bs-toggle="modal" data-bs-target="#editExp-<%=i%>">
                                        <ion-icon name="pencil-outline"></ion-icon> Editar
                                    </button>                                    
                                </div>
                            </div>
                            
                            <p class="mt-2"><%=exps.desJob%> </p>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <!-- Button trigger modal delete exp -->
                                    <button type="button" class="btn border" data-bs-toggle="modal" data-bs-target="#deleteExp-<%=i%>">
                                        <ion-icon name="trash-outline"></ion-icon> Borrar
                                    </button>                                    
                                </div>
                                <div class="col-6">
                                    <p class="text-right font-monospace fw-semibold">
                                        <ion-icon name="time-outline"></ion-icon>
                                        <%=moment(exps.monthStart).format("MMMM YYYY"); %> - 
                                        <% if(exps.actualJob==true){ %> Actualmente <% } else { %> <%=moment(exps.monthEnd).format("MMMM YYYY")%>  <% } %> 
                                    </p>
                                </div>
                            </div>
                            
                            </details>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="deleteExp-<%=i%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar <%=exps.positionExp%> </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <h5>Usted esta a punto de eliminar la siguiente experiencia: <b><%=exps.positionExp%> </b></h5>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <form action="/profile-deleteExp/<%=exps._id%>?_method=DELETE" method="post">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <!-- Modal Edit Exp-->
                            <div class="modal fade" id="editExp-<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">                            
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar <%=exps.positionExp %>: </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <form action="/profile-editExp/<%=exps._id%>?_method=PUT" method="post">
                                        <label class="form-control border border-0"><strong> Nombre de la empresa: </strong></label>
                                        <input type="text" placeholder="Empresa..." name="enterprise" class="form-control" value="<%=exps.enterprise%>" required>
                                        <label class="form-control border border-0"><strong> Cargo: </strong></label>
                                        <input type="text" placeholder="Cargo..." name="positionExp" class="form-control" value="<%=exps.positionExp%>" required>
                                        <label class="form-control border border-0">
                                            <strong> ¿Sigue trabajando aquí? </strong>
                                            <input type="radio" name="actualJob" id="isWork-<%=exps._id%>" value="Si" required> Si
                                            <input type="radio" name="actualJob" id="notWork-<%=exps._id%>" value="No" required> No
                                        </label>
                                        <div class="row pl-3 pr-3">
                                            <input type="month" name="monthStart" class="form-control" required>
                                        </div>
                                        <label class="form-control border border-0"><strong> Fecha de conclusión: </strong></label>
                                        <div class="row pl-3 pr-3">
                                            <input type="month" name="monthEnd" class="form-control" id="monthEnd-<%=exps._id%>" required>                                    
                                        </div>
                                        <label class="form-control border border-0"><strong> Cuentenos sobre este empleo: </strong></label>
                                        <textarea class="form-control" name="desJob" cols="30" rows="10" required><%=exps.desJob%></textarea>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                            
                        <% }) %> 
                    <% } %>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#experiences">
                        Agregar experiencia
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="experiences" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">                            
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar experiencia</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>                            
                            <div class="modal-body">
                            <form action="/profile-exp" method="post">
                                <label class="form-control border border-0"><strong> Nombre de la empresa: </strong></label>
                                <input type="text" placeholder="Empresa..." name="enterprise" class="form-control" required>
                                <label class="form-control border border-0"><strong> Cargo: </strong></label>
                                <input type="text" placeholder="Cargo..." name="positionExp" class="form-control" required>
                                <label class="form-control border border-0"><strong> ¿Sigue trabajando aquí? </strong></label>
                                <select name="actualJob" id="seleActualJob" class="form-control" onchange="valorSele()" required>
                                    <option value="" selected disabled>Seleccione una opción</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                                <label class="form-control border border-0"><strong> Fecha de inicio: </strong></label>
                                <div class="row pl-3 pr-3">
                                    <input type="month" name="monthStart" class="form-control" required>                                    
                                </div>
                                <label class="form-control border border-0"><strong> Fecha de conclusión: </strong></label>
                                <div class="row pl-3 pr-3">
                                    <input type="month" name="monthEnd" class="form-control" id="monthEnd" required>                                    
                                </div>
                                <label class="form-control border border-0"><strong> Cuentenos sobre este empleo: </strong></label>
                                <textarea class="form-control" name="desJob" id="" cols="30" rows="10" required></textarea>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                            </form>
                        </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-6">
                    <label class="form-control border border-0"><strong> Estudios: </strong></label>
                    <% study.forEach(studies => { %>
                        <% if(!studies.nameSchool || studies.nameSchool == ''){ %>
                            <p>No ha agregado sus estudios.</p>
                        <% } else { %> 
                    <details open>
                        <summary class="mb-3 fw-bold"> <ion-icon name="school-outline"></ion-icon> <%=studies.nameSchool%> </summary>
                        <p class="fst-italic"><ion-icon name="briefcase-outline"></ion-icon> Especialidad: <%=studies.speciality%> </p>
                        <p><ion-icon name="stats-chart-outline"></ion-icon> Nivel de estudios: <%=studies.studyLevel%> </p>
                        <p><ion-icon name="location-outline"></ion-icon> Ubicación: <%=studies.location%> </p>
                        <p class="text-right font-monospace fw-semibold">
                            <ion-icon name="time-outline"></ion-icon>
                            <%=moment(studies.dateStart).format("MMMM YYYY"); %> - 
                            <% if(studies.actualStudy==true){ %> Actualmente <% } else { %> <%=moment(studies.dateEnd).format("MMMM YYYY")%>  <% } %> 
                        </p>
                    </details>
                        <% } %> 
                    <% }) %> 

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#school">
                        Agregar estudios
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="school" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">                            
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar estudios</h1>
                                <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                                </div>                            
                                <div class="modal-body">
                                <form action="/profile-studies" method="post">
                                    <label class="form-control border border-0"><strong> Nombre de la institución: </strong></label>
                                    <input type="text" name="nameSchool" class="form-control" placeholder="Nombre de la institución..." required>
                                    <label class="form-control border border-0"><strong> Especialidad: </strong></label>
                                    <select name="speciality" class="combo-login" style="width: 100%" required>
                                        <option value="" selected="true" disabled>Seleccione su especialidad</option>
                                        <% jobs.forEach(job => { %>
                                            <option value="<%=job.name%>"><%=job.name%></option>                  
                                        <% }) %>
                                    </select>
                                    <label class="form-control border border-0"><strong> Nivel de estudios: </strong></label>
                                    <select name="studyLevel" class="combo-login" style="width: 100%" required>
                                        <option value="" selected="true" disabled>Seleccione el nivel de estudios</option>
                                        <option value="Educación Primaria">Educación Primaria</option>
                                        <option value="Educación Secundaria">Educación Secundaria</option>
                                        <option value="Educación Media Superior (Preparatoria)">Educación Media Superior (Preparatoria)</option>
                                        <option value="Técnico Superior Universitario">Técnico Superior Universitario</option>
                                        <option value="Ingeniería">Ingeniería</option>
                                        <option value="Maestría">Maestría</option>
                                        <option value="Doctorado">Doctorado</option>
                                    </select>
                                    <label class="form-control border border-0"><strong> Ubicación: </strong></label>
                                    <input type="text" name="location" class="form-control" placeholder="Ubicación..." required>
                                    <label class="form-control border border-0"><strong> ¿Sigue estudiando aquí? </strong></label>
                                    <select name="actualStudy" id="seleActualStudy" class="form-control" onchange="valorSeleStudy()" required>
                                        <option value="" selected disabled>Seleccione una opción</option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>
                                    <label class="form-control border border-0"><strong> Fecha de inicio: </strong></label>
                                    <div class="row pl-3 pr-3">
                                        <input type="month" name="dateStart" class="form-control" required>                                    
                                    </div>
                                    <label class="form-control border border-0"><strong> Fecha de conclusión: </strong></label>
                                    <div class="row pl-3 pr-3">
                                        <input type="month" name="dateEnd" id="dateEnd" class="form-control" required>                                    
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('includes/scripts.ejs') %>
<script src="/js/functions.js"></script>
<script>

    var monthEnd = document.getElementById('monthEnd');    
    function valorSele(){
        var seleActualJob = document.getElementById('seleActualJob');
        var option = seleActualJob.options[seleActualJob.selectedIndex].text;
        
        if(option == 'Si'){
            monthEnd.setAttribute('disabled', 'disabled');
            monthEnd.removeAttribute('required', 'required');
        } else if(option == 'No'){
            monthEnd.removeAttribute('disabled', 'disabled');
            monthEnd.setAttribute('required', 'required');
        }
    }

    var dateEnd = document.getElementById('dateEnd');    
    function valorSeleStudy(){
        var seleActualStudy = document.getElementById('seleActualStudy');
        var optionStudy = seleActualStudy.options[seleActualStudy.selectedIndex].text;
        
        if(optionStudy == 'Si'){
            dateEnd.setAttribute('disabled', 'disabled');
            dateEnd.removeAttribute('required', 'required');
        } else if(optionStudy == 'No'){
            dateEnd.removeAttribute('disabled', 'disabled');
            dateEnd.setAttribute('required', 'required');
        }
    }
</script>

<% exp.forEach(expe =>{ %>
    <script>        
        $(document).ready(function() {
            $('#isWork-<%=expe._id%>').click(function() {
                $('#monthEnd-<%=expe._id%>').prop('disabled', true);
                $('#monthEnd-<%=expe._id%>').prop('required', false);
            });

            $('#notWork-<%=expe._id%>').click(function (){
                $('#monthEnd-<%=expe._id%>').prop('disabled', false);
                $('#monthEnd-<%=expe._id%>').prop('required', true);
            });
        })
    </script>
<% }) %> 