<%- include('../includes/header.ejs') %>
<%- include('../includes/alerts.ejs') %> 
<%- include('../includes/navbar.ejs') %>

<div class="container-fluid" style="padding: 1cm;">
    <div class="row">
        <div class="col-8">
            
            <a class="btn btn-success m-2" href="#"><ion-icon name="add-outline"></ion-icon> Agregar vacante</a>
            
            <table id="vacants">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Puesto</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>    
        <%- include('../includes/right.ejs') %> 
    </div>
</div>


<%- include('../includes/scripts.ejs') %> 